DISCORD_BOT_TOKEN=a17683a96b1c7d08e9d17b6f106f07d71a1de589aed32ff3e0b75d2f7c86c7a6
DISCORD_CHANNEL_ID=1491694555563692112
DISCORD_MENTION_ROLE_ID=1491695153310859284

CHECK_INTERVAL_SECONDS=180

EMAIL_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=you@example.com
SMTP_PASSWORD=your_app_password
EMAIL_FROM=you@example.com
EMAIL_TO=you@example.com
